@import url(./reset.css);
@import url(./bootstrap-grid.css);

body{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.page-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  background-color: #292c47;
}

.header-wrapper{
  margin: 25px 0;
  margin-left: auto;
  margin-right: auto;
}

.header-logo{
  align-self: center;
  object-fit: cover;

}

.header-nav{
  align-self: center;
}

.nav-list{
  flex-wrap: nowrap;
}

.nav-item {
  display: inline-block;
}

.nav-item-link{
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
  font-size: 0.8rem;

  white-space: nowrap;
}

.title-section{
  background-image: url(../img/banner.jpg);
  min-height: 750px;

}

.title-wrapper{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 80px;
  color: white;
  text-align: center;
  
  min-height: 750px;
}

.title-header{
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}

.title-text{
  font-size: 1.4rem;
  margin-bottom: 100px;
  line-height: 1.5;
}

.title-button{
  text-decoration: none;
  color: inherit;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #e84545;
  padding: 20px 40px;
  border-radius: 5px;
}

.feature-item-box{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;

  margin-bottom: 50px;
  padding: 0 30px;
}

.features-section{
  padding-top: 100px;
  padding-bottom: 100px;
}

.feature-item-icon{
  min-height: 65px;
  margin-bottom: 40px;
}

.feature-item-header{
  font-weight: bold;
  margin-bottom: 15px;
}

.feature-item-text{
  font-size: 0.9rem;
  line-height: 1.5;
}

.works-section{
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;

  width: 99vw;
}

.works-item-box{
  position: relative;
  width: 25%;
  object-fit: cover;
  overflow: hidden;
  box-sizing: border-box;

  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.works-item-img{
  width: 100%;
  transition: transform 1s;

  object-fit: cover;
  object-position: center;

  
}

.works-item-hover-info{
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #e8454500;
  color: transparent;

  transition: background-color 1s;
}

.works-item-header{
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
  transition: margin-bottom 1s;
}

.works-item-box:hover > .works-item-hover-info{
  background-color: #e84545d7;
  color: white;
}

.works-item-box:hover .works-item-header{
  margin-bottom: 5px;
}

.works-item-box:hover .works-item-img{
  transform: scale(1.3);
}
