@import url(./reset.css);
@import url(./bootstrap-grid.css);

body{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.page-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  background-color: #292c47;
}

.header-wrapper{
  margin: 25px 0;
  margin-left: auto;
  margin-right: auto;
}

.header-logo{
  align-self: center;
  object-fit: cover;

}

.header-nav{
  align-self: center;
}

.nav-list{
  flex-wrap: nowrap;
}

.nav-item {
  display: inline-block;
}

.nav-item-link{
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
  font-size: 0.8rem;

  white-space: nowrap;
}

.title-section{
  background-image: url(../img/banner.jpg);
  min-height: 750px;

}

.title-wrapper{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 80px;
  color: white;
  text-align: center;
  
  min-height: 750px;
}

.title-header{
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}

.title-text{
  font-size: 1.4rem;
  margin-bottom: 100px;
}

.title-button{
  text-decoration: none;
  color: inherit;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #e84545;
  padding: 20px 40px;
  border-radius: 5px;
}

